libraries
.libraries.json
ts/node_modules
ts/dist
go.sum
.DS_Store
coverage.out
coverage.html

**/csharp/**/bin/
**/csharp/**/obj/
**/csharp/**/.vs/

.idea/
target/
*.iml
.classpath
.project
.settings/

python/**/__pycache__/
